<nav>
    <div class="container">
        <div class="row mb-3"> <!-- Add margin bottom to each row -->
            <div class="col">
                <a href="/" class="Menu_options">
                    <div class="d-flex align-items-center">
                        <span class="material-icons">home</span>
                        <h2 class="ml-2">Home</h2> <!-- Add margin left to the h2 for spacing -->
                    </div>
                </a>
            </div>
        </div>
        <div class="row mb-3"> <!-- Add margin bottom to each row -->
            <div class="col">
                <a href="/" class="Menu_options">
                    <div class="d-flex align-items-center">
                        <span class="material-icons">movie</span>
                        <h2 class="ml-2">Movie</h2> <!-- Add margin left to the h2 for spacing -->
                    </div>
                </a>
            </div>
        </div>
        <div class="row mb-3"> <!-- Add margin bottom to each row -->
            <div class="col">
                <a href="/" class="Menu_options">
                    <div class="d-flex align-items-center">
                        <span class="material-icons">person_pin</span>
                        <h2 class="ml-2">Directors</h2> <!-- Add margin left to the h2 for spacing -->
                    </div>
                </a>
            </div>
        </div>
    </div>
</nav>
