<nav>
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <a href="/" class="Menu_options">
                    <div class="d-flex align-items-center">
                        <span class="material-icons">home</span>
                        <h2 class="ml-2">Home</h2>
                    </div>
                </a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <a href="/movies" class="Menu_options">
                    <div class="d-flex align-items-center">
                        <span class="material-icons">movie</span>
                        <h2 class="ml-2">Movies</h2>
                    </div>
                </a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <a href="/directors" class="Menu_options">
                    <div class="d-flex align-items-center">
                        <span class="material-icons">person_pin</span>
                        <h2 class="ml-2">Directors</h2>
                    </div>
                </a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <form action="/logout" method="post" class="Menu_options">
                    <div class="d-flex align-items-center">
                        <span class="material-icons">logout</span>
                        <button type="submit" class="btn btn-link ml-2 p-0" style="font-size: 1.5rem; text-decoration: none;">Logout</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>